In [1]:
import pandas as pd

In [13]:
df = pd.read_csv('profiles.csv')
df = df.drop(['essay0','essay1','essay 2','essay3','essay4','essay5','essay6',
       'essay7', 'essay8', 'essay9'],axis=1)

In [14]:
print(df.head())
print(df.columns)

   age       body_type               diet    drinks      drugs  \
0   22  a little extra  strictly anything  socially      never
1   35         average       mostly other     often  sometimes
2   38            thin           anything  socially        NaN
3   23            thin         vegetarian  socially        NaN
4   29        athletic                NaN  socially      never

                           education            ethnicity  height  income  \
0      working on college/university         asian, white    75.0      -1
1              working on space camp                white    70.0   80000
2     graduated from masters program                  NaN    68.0      -1
3      working on college/university                white    71.0   20000
4  graduated from college/university  asian, black, other    66.0      -1

                           job  ...                         location  \
0               transportation  ...  south san francisco, california
1         hospitality / travel  ...              oakland, california
2                          NaN  ...        san francisco, california
3                      student  ...             berkeley, california
4  artistic / musical / writer  ...        san francisco, california

                                      offspring orientation  \
0  doesn&rsquo;t have kids, but might want them    straight
1  doesn&rsquo;t have kids, but might want them    straight
2                                           NaN    straight
3                       doesn&rsquo;t want kids    straight
4                                           NaN    straight

                        pets                                  religion sex  \
0  likes dogs and likes cats     agnosticism and very serious about it   m
1  likes dogs and likes cats  agnosticism but not too serious about it   m
2                   has cats                                       NaN   m
3                 likes cats                                       NaN   m
4  likes dogs and likes cats                                       NaN   m

                                 sign     smokes  \
0                              gemini  sometimes
1                              cancer         no
2  pisces but it doesn&rsquo;t matter         no
3                              pisces         no
4                            aquarius         no

                                              speaks     status
0                                            english     single
1  english (fluently), spanish (poorly), french (...     single
2                               english, french, c++  available
3                           english, german (poorly)     single
4                                            english     single

[5 rows x 21 columns]
Index(['age', 'body_type', 'diet', 'drinks', 'drugs', 'education', 'ethnicity',
       'height', 'income', 'job', 'last_online', 'location', 'offspring',
       'orientation', 'pets', 'religion', 'sex', 'sign', 'smokes', 'speaks',
       'status'],
      dtype='object')

Questions:
    1 Does people with age more selective in food than young.
    2 Is there any characteristics that imply on orientation?
    3 Is tere any dependence in zodiak and for example status, or maybe something other?